/* Konung-regular */
@font-face 
    font-family: 'Konung';
    src: local('Konung Dan'), local('Konung-Dan'), url('../../fonts/Konung Regular.otf') format('woff2'), url('../../fonts/KonungDan.woff') format('woff'), url('../../fonts/KonungDan.ttf') format('truetype')
    font-weight: normal
    font-style: normal
  

@font-face 
    font-family: 'Konung Dan';
    src: local('Konung Dan'), local('Konung-Dan'), url('../../fonts/Konung Dan Regular.otf') format('woff2') 
    font-weight: normal
    font-style: normal