

.wrapper-rest 

// Категории блюд	!!!!!!!!!!!!!!!!!!!!!!!!!!
.menu-cards
	display: grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 30px
	margin: 60px 0 150px 0


.card_1, .card_2, .card_3, .card_4, .card_5, .card_6
	width: 520px
	height: 300px
	position: relative
	text-align: right
	outline: 8px solid $Gold
	box-sizing: border-box
	border-radius: 2px
	font-family: 'Konung Dan'
	a
		text-decoration: none
		color: #000
		display: block
	span
		font-size: 36px
		line-height: 100px
		margin: 0 50px 0 0 
	img	
		position: absolute
		left: -8px
		bottom: -8px	
	svg
		position: absolute
		left: -8px
		bottom: -8px	

.card_1:hover,.card_2:hover,.card_3:hover,
.card_4:hover,.card_5:hover,.card_6:hover
	background-image: url(../../img/delivery/cards/background_card.png)
	background-position: center
	// transform: scale(1.05)   
	outline: 0
	span
		color: #FFF
	g
		rect
			fill: #fff

// Для разного background при hover!!!!!!!!!!!!!!!!!!!!!!			
// .card_2:hover
// 	background-image: url(../../img/delivery/cards/background_card.png)
// 	background-position: center
// 	outline: 0
// 	span
// 		color: #FFF
// 	g
// 		rect
// 			fill: #fff	
// .card_3:hover
// 	background-image: url(../../img/delivery/cards/background_card.png)
// 	background-position: center
// 	outline: 0
// 	span
// 		color: #FFF
// 	g
// 		rect
// 			fill: #fff	
// .card_4:hover
// 	background-image: url(../../img/delivery/cards/background_card.png)
// 	background-position: center
// 	outline: 0
// 	span
// 		color: #FFF
// 	g
// 		rect
// 			fill: #fff
// .card_5:hover
// 	background-image: url(../../img/delivery/cards/background_card.png)
// 	background-position: center
// 	outline: 0
// 	span
// 		color: #FFF
// 	g
// 		rect
// 			fill: #fff				
// .card_6:hover
// 	background-image: url(../../img/delivery/cards/background_card.png)
// 	background-position: center
// 	outline: 0
// 	span
// 		color: #FFF
// 	g
// 		rect
// 			fill: #fff	

.cards-icons-top


// Карточки товаров!!!!!!!!!!!!!!!!!!!!!!!!!!
.line 
	width: auto
	height: 2px
	border-radius: 1px
	background-color: $Gold
	position: relative
	top: 760px
.line::before
	content: ''
	width: 1620px
	height: 2px
	border-radius: 1px
	background-color: $Gold
	position: absolute
	top: 720px
.line::after
	content: ''
	width: 1620px
	height: 2px
	border-radius: 1px
	background-color: $Gold
	position: absolute
	top: 1440px	


.production

	&__main-title
		font-size: 36px
		font-family: 'Konung Dan'
	&__cards 
		display: grid
		grid-template-columns: repeat(4, 380px) 
		grid-column-gap: 33px
		grid-row-gap: 40px
		align-items: center
		justify-content: center
		margin: 60px 0

	&__card 
		justify-content: center 
		width: 380px
		height: 680px
		transition: all .1s
	&__card:hover
		box-shadow:	0 0 12px rgba(0, 0, 0, 0.4)

	&__img 
		width: 380px
		justify-content: center
	&__title 
		display: flex
		flex-direction: column
		margin: 0 30px
		h3
			display: flex
			align-items: center
			justify-content: left
			font-size: 26px
			line-height: 145%
			margin: 20px 0 
			height: 100px
			font-family: 'Konung Dan'
		p
			font-size: 16px
			line-height: 160%
		span
			color: #6A6A6A 
			font-size: 16px
			line-height: 160%

	&__title::after
		content: ''
		width: 320px
		height: 1px
		background: $Gold	
		margin: 20px 0
		align-items: center
					
	&__price 
		display:  flex
		justify-content: space-between
		align-items: flex-end
		margin: 0 30px 150px 30px
	
	&__price-style
		font-size: 36px

	&__price-mass
		color: #6A6A6A
		font-size: 20px
		text-align: right

	&__buttons
		display: none
		align-items: center
		margin: 0 30px
		position: relative
		bottom: 140px
		button
			height: 45px
			width: 30px
			font-size: 0
			border: 1px solid #DCDCDC
			box-sizing: border-box
			border-radius: 1px
		input
			border: 0
			width: 35px
			text-align: center


// Корзина btn!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.btn-minus
	background: url(../../img/delivery/btn/minus_icon.svg) no-repeat 
	background-position: center

.btn-plus			
	background: url(../../img/delivery/btn/plus_icon.svg) no-repeat
	background-position: center

.btn-by
	background-color: $Gold
	margin: 50px 10px 
	border-radius: 25px
	padding: 0 30px
	width: 160px
	img
		position: relative
		top: -16px
		right: 8px 
	a
		text-decoration: none
		color: $Black

		font-size: 22px
		line-height: 40px
		display: block


// Нумерация для переключения между страницами!!!!!!!!!!!!!!!!!!!!!
.btns-pages
	display: flex
	align-items: center
	justify-content: flex-end
	button
		background-position: center
		height: 45px
		width: 30px
		font-size: 0
		border: 0	
	
.num-page
	display: flex
	height: 45px
	width: 40px
	border: none
	margin: 0 5px
	align-items: center
	justify-content: center
	cursor: pointer
.btn-left
	background: url(../../img/delivery/btn/prev.svg) no-repeat
	margin: 0 20px 0 0

.btn-right
	background: url(../../img/delivery/btn/next.svg) no-repeat
	margin: 0 0 0 20px

.num-active
	border: 1px solid $Gold
	color: $Gold

// Для open_product!!!!!!!!!!!!!!!!!!
.block-btns-pages
	display: flex
	justify-content: space-between

// Достоинства ресторана!!!!!!!!!!!!!!
.menu-cards-bottom
	font-family: Konung Dan
	margin: 200px 0 150px 0			
.menu-cards-bottom-title
	text-align: center
	border-bottom: 2px solid $Gold
	margin: 10px auto
	width: 700px
	span
		color: $Gold
		margin: 0 30px
		font-size: 24px
	img
		margin-bottom: 10px

.menu-cards-bottom-blocks
	display: flex
	justify-content: space-between
	cursor: pointer
	a
		text-decoration: none
		color: $Black

.menu-cards-bottom-block
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	align-content: center
	height: 360px
	width: 408px 
	transition: all .3s
	svg
		width: 110px
		margin: 0 0 50px 0
	h4
		padding: 0 70px
		text-align: center
		font-size: 26px
		line-height: 145%

.menu-cards-bottom-block:hover
	background: $Gold
	background-position: center
	box-shadow: 0px 4px 20px rgba(33, 34, 28, 0.25)
	border-radius: 2px
	svg
		fill: #fff

.cards-icons
	display: block
	width: 110px
	height: 110px
	fill: $Gold


.map 
	display: flex
	align-items: center
	background: url(../../img/footer/background_map.png) no-repeat
	background-size: cover
	background-position: center
	height: 650px
	position: relative
	&__visit-card
		width: 509px
		height: 400px
		background: #FFF
		box-shadow: 0px 4px 25px rgba(33, 34, 28, 0.3)
		border-radius: 2px
		margin: 0 0 0 150px
		padding: 69px 0 0 60px


	&__title 
		font-family: Konung Dan
		font-size: 36px
		line-height: 145%
		margin: 0 0 60px 0

	&__phone 
		display: flex
		justify-self: left
		font-size: 22px
		line-height: 40px
		margin: 0 0 37px 0
		a
			text-decoration: none
			color: $Black		
		img
			padding: 0 15px 3px 0
	&__address 
		display: flex
		justify-self: left
		font-size: 20px
		line-height: 36px
		margin: 0 0 42px 0
		img
			padding: 0 15px 6px 0
	&__timetable 
		font-size: 18px
		line-height: 32px
		span
			color: $Gold
			margin: 0 20px 0 0 
	&__pin
		position: absolute
		content: ''
		top: 32%
		left: 67%

// Footer_start!!!!!!!!!!!!!!!!!!!!!!!
.main-footer
	background: $Black
	&__items
		display: grid
		grid-template-columns: repeat(4, 1fr)
		padding: 131px 0
	&__item
		padding: 0 0 0 70px
		a
			text-decoration: none
		h5
			color: $Gold
			font-size: 32px
			line-height: 145%
			margin: 0 0 10px 0
		p
			color: #FFF
			font-size: 20px
			line-height: 200%
			font-weight: 100
		
	&__item:first-child
		display: flex
		flex-direction: column
		justify-content: space-between

	&__phone
		display: flex
		flex-direction: column
		justify-content: space-between
		font-size: 34px
		justify-self: right
		text-align: right
		a
			text-decoration: none
			color: $Gold
		span
			font-size: 18px
			line-height: 32px
			border-bottom: .5px solid $Gold
	&__icos
		display: flex
		justify-content: flex-end

#main-footer__security
		font-size: 18px

.social-icons
	display: block
	width: 27px
	height: 27px
	margin: 0 20px 0 0
	fill: #FFF
.social-icons:hover
	fill: $Gold

